#article-lister
  ul
    each article in public.articles._data
      li.article-item
        .article-item-title
          a(href="/articles/#{article.slug}") #{article.title}
        .article-item-body
          p #{article.excerpt}
        .article-item-tags
          each val in article.tags
            span.label.label-warning= val
        .article-item-footer
          p
            strong POSTED BY 
            span.redfc #{article.authors} - #{article.date}